@import "tailwindcss";

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-primary: #10b981;
}

body {
  font-family: sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

input, textarea, select {
  color: #0f172a;
}
